/**
*   Variables
*
*   @project:       Elo7 Landing Page
*   @version:       1.0.0
*   @description:   Variaveis gerais do projeto
*   @author:        Thiago Corbalan
*   @date:          17/09/20149
*   @update:        ---
*/

// Paleta de Cores
$color-palette: (
	C100: #000000, 
	C200: #FFFFFF,
	C300: #f8f8f8,
	C400: #CCC,
	C500: #666,
	C600: #339999,
  	C700: #fdb933,
  	C800: #333
);


$font-family: 'Museu Sans';  